---
const { title } = Astro.props;
---

<header class="header">
  <h1 class="title">{title}</h1>
  <div class="nav">
    <button
      type="button"
      id="js-buttonHamburger"
      class="c-button p-hamburger"
      aria-controls="global-nav"
      aria-expanded="false"
    >
      <span class="p-hamburger__line">
        <span class="u-visuallyHidden"> メニューを開閉する </span>
      </span>
    </button>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 60%));
    z-index: 100;
    height: 65px;
  }
</style>
