.status-view {

  width: 100%;
  padding: 0;
  margin: .6em 0;

  .name {
    grid-column: auto;
  }

  .name::after {
    display: none;
  }

  .statusbar {
    border-left: 3px solid var(--my-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .hp,
  .mp {
    color: #333;
    padding-left: .8em;
    display: grid;
    grid-template-columns:
      [label] 2.2em [bar] minmax(120px, 200px) [value] 3.8em;
    align-items: center;
  }

  .label {
    grid-column: 1;
  }

  .gauge {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }

  meter,
  .gauge {
    padding: 2px 8px;
    margin: 0 4px;
    width: 98%;
    height: 1.2em;
  }

  .gauge>canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .value {
    padding-left: 4px;
    font-size: .8em;
    display: grid;
    align-items: center;
  }

  .position {
    font-size: medium;
    font-weight: bold;
    border: none;
    margin: 0;
    text-align: left;
    outline: 0;
    position: relative;
    opacity: .6;
    padding-bottom: .6em;

    &::before {
      content: "○";
      color: black;
    }

  }

  .area-wrapper {
    border-radius: 30px;
    box-shadow: 0 0 8px #ccc;
    padding: .6em 1.2em;
    margin: 12px 0;
  }

  .area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .4em;
    column-gap: 8px;
    place-items: center;

    .name {
      padding: 0 .6em 0 .4em;
      background-color: var(--my-color);
      color: #fff;
      width: fit-content;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

}

@media screen and (max-width:540px) {
  .status-view {
    .area {
      display: flex;
      flex-direction: column;
    }
  }
}
